# **Datasets**

In this project we’ll use the size of points to indicate the area and populations of California cities. We would like a legend that specifies the scale of the sizes of the points, and we’ll accomplish this by plotting some labeled data with no entries.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [23]:
import pandas as pd
cities  = pd.read_csv("/content/drive/MyDrive/Datasets/Area and Population/california_cities.csv")

In [24]:
cities.head()

   Unnamed: 0         city  ...  area_water_km2  area_water_percent
0           0     Adelanto  ...           0.046                0.03
1           1  AgouraHills  ...           0.076                0.37
2           2      Alameda  ...          31.983               53.79
3           3       Albany  ...           9.524               67.28
4           4     Alhambra  ...           0.003                0.01

[5 rows x 14 columns]

In [25]:
# extracting the data we ar interested in
latitude, longitude = cities["latd"], cities["longd"]
population, area = cities["population_total"], cities["area_total_km2"]

In [ ]:
# to scatter the points, using size and color but without label
import numpy as np
import matplotlib.pyplot as plt
import seaborn
seaborn.set()
plt.scatter(longitude, latitude, label=None, c=np.log10(population),
            cmap='viridis', s=area, linewidth=0, alpha=0.5)
plt.axis(aspect='equal')
plt.xlabel('Longitude')
plt.ylabel('Longitude')
plt.colorbar(label='log$_{10}$(population)')
plt.clim(3, 7)
# now we will craete a legend, we will plot empty lists with the desired size and label
for area in [100, 300, 500]:
    plt.scatter([], [], c='k', alpha=0.3, s=area, label=str(area) + 'km$^2$')
plt.legend(scatterpoints=1, frameon=False, labelspacing=1, title='City Areas')
plt.title("Area and Population of California Cities")
plt.show()

# **References**

[Data Science Project on Area and Population](https://thecleverprogrammer.com/2020/05/09/data-science-project-on-area-and-population/)